* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainbox {
  width: 1000px;
  background-color: white;
  border: 3px solid gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

/*  General classes for the page */
.boldtext {
  font-weight: 700;
}

.centertext {
  text-align: center;
  background-color: #ffba42;
  font-weight: bold;
  height: 70px;
}
.indent{
  padding-left: 30px;
}



/* Styles for the header section */


/* Styles for the nav section */


/* Styles for the main / sections section */


/* Styles for the footer section */

/* Styles for the receipt printed on the screen. */
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px 10px;
}



.resultstable {
  width: 350px;
  margin: auto;
}

.resultstable .lefttext {
  text-align: left;
}


.resultstable .righttext {
  text-align: right;
}


.resultstable .centertext {
  text-align: center;
}

.resultstable .bluerow {
  background-color: lightblue;
  text-align: center;
}

